*{
    background-color: black;
}

#menu{
   margin: 3% ;
   display: flex;
   flex-direction: column;
}

header{
    display: flex;
}
nav{
    display: flex;
    flex-direction: column;
}

nav a{
    color: aliceblue;
    text-decoration: none;
 
}

#botaotwitter{
    width: 100px;
    height: 50px;
    font-size: 17px;
    font-weight: bold;
}