body {
    font-family: Arial, sans-serif;
    font-size: 12px;
    background-color: #fff;
    text-align: center;
}

table {
    width: 600px;
    margin: 0 auto;
    border-collapse: separate;
    border-spacing: 2px;
}

caption {
    background-color: #0D5188; /* azul escuro */
    color: white;
    font-weight: bold;
    padding: 8px;
}

th {
    background-color: #66C5E3; /* azul médio */
    color: white;
    padding: 4px;
}

td {
    padding: 2px;
    text-align: center;
}

.posicao {
    background-color: silver;
    width: 10%;
    font-weight: bold;
}

.cidade {
    color: #0D5188;
    background-color: #C7E7F3; /* azul claro */
    font-weight: bold;
}

.pop {
    background-color: #C7E7F3; /* azul claro */
    width: 15%;
}