*{
    margin: 0% ;
    padding: 0%;
    text-decoration: none;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

/* Parte de cima do site */

header{
    background-color: rgb(39, 39, 39);
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    color: white;
}

#ladoEsquerdo{
    display: flex;
    align-items: flex-start;
    margin: 50%;
    letter-spacing: 1px;
    margin-left: 5%;
}

#ladoDireito{
    display: flex;
    align-items: flex-end;
    gap: 20px;
    margin-right: 5%;
}

#ladoDireito a{
    color: rgb(255, 255, 255);
    font-weight: 500;
    font-size: 18px;
}

/* Parte do meio */

main{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}

#faixaVermelha{
    width: 40%;
    height: 5px;
    background-color: rgb(255, 0, 0);
    margin-top: 10px;
}

/* Foto da Elizabeth */

#elizabeth{
    display: flex;
    gap: 50px;
    margin: 20px 20px;
    padding: 20px 20px;
    width: 40%;
    flex-direction: column;
    margin-top: 30px;
    border: 1px solid black;
    border-radius: 10px;
    padding: 10px;
}

#titulo{
   text-align: center;
   margin-top: 10px;
}

#descricao{
    text-align: center;
    line-height: 25px;
    justify-content: center;
    color: rgb(94, 94, 94);
}

button{
    width: 100px;
    height: 40px;
    background-color: rgb(235, 19, 73);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin: 0 auto;
    padding: 10px;
}

#descricao2{
    text-align: center;
    justify-content: center;
    color: black;
    padding: 50px 50px;
}

/* Parte dos posters */

.pai{
    width: 800px;
    height: 400px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

}

.caixa{
    margin: 10px;
    width: 200px;
    height: 250px;
    padding: 20px 20px;
    border: 1px solid black;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.titulo{
    text-align: center;
    font-weight: bold;
    font-size: 30px;
    margin-top: 10px;
}

#resto{
    justify-content: center;
}

/* Footer */

footer{
    background-color: rgb(39, 39, 39);
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}

@media screen and (max-width: 900px){
    .pai{
        flex-direction: column;
        height: auto;
    }

    .caixa{
        width: 90%;
        height: auto;
    }
}