*{
margin: 0%;
padding: 0%;
box-sizing: border-box;
font-family: 'Times New Roman', Times, serif;
}

main{
    width: 100%;
    height: 100vh;
    background-color: rgb(243, 233, 210);
    display: flex;
    justify-content: center;
}

#feed{
    width:  30%;
    height: 100%;
    background-color: rgb(255, 255, 255);
    flex-direction: column;
    align-items: center;
    display: flex;
    overflow: scroll;
}

::-websit-scrollbar{
    display: none;
}

.postUsuario{
    margin: 20%;
    display: flex;
    align-items: center;
    gap:20px;
}

.posts{
    width: 80%;
    background-color: aliceblue;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    border: 1px solid rgb(255, 255, 255) ;
}

.fotoUsuario{
    width: 60px;
    height: 60px;
    border-radius: 100%;
    overflow: hidden;
}

.fotoUsuario img{
    width: 100%;
    height: 100%;
}

@media screen and (nax-width:900px){
    #feed{
        width: 100%;
    }
}



